<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <div class='nav navbar-nav'>
      <h4>Email Thingie</h4>
    </div>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'listOfMessages'}}Home{{/link-to}}</li>
    </ul>
  </nav>
  <h2>A header for the entire program.</h2>

  {{outlet}}
</div>
