<h3>List of Messages</h3>

{{#link-to 'new-message' classNames='btn btn-default'}}Create new message{{/link-to}}
<table class='table table-striped'>
  <tbody>
    {{#each message in model}}
      {{#link-to 'message' message.id}}
        <tr> <td class='col-md-3'>{{message.name}}</td><td class='col-m-3'> {{message.title}}</td> </tr>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>
<!-- <ul>
  {{#each message in model}}
    <li>{{#link-to 'message' message.id}} {{message.name}} {{message.title}} {{/link-to}}</li>
  {{/each}}
</ul> -->
