<h3>List of Messages</h3>

{{#link-to 'new-message' classNames='btn btn-default'}}Create new message{{/link-to}}
<ul>
  {{#each message in model}}
    <li>{{#link-to 'message' message}} {{message.title}} {{/link-to}}</li>
  {{/each}}
</ul>
